{
	email me@tetra.cool
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

home.tetra.cool {
	handle {
		root * /public
		file_server
	}

	handle /status* {
		uri strip_prefix /status
		reverse_proxy localhost:3621
	}
}

asf.home.tetra.cool {
	reverse_proxy localhost:1242
	header Access-Control-Allow-Origin "*"
}

unifi.home.tetra.cool {
	reverse_proxy https://localhost:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
	header Access-Control-Allow-Origin "*"
}

bridge.home.tetra.cool {
	reverse_proxy localhost:9000
}

hass.home.tetra.cool {
	reverse_proxy localhost:8123
	header Access-Control-Allow-Origin "*"
}

pihole.home.tetra.cool {
	rewrite * /admin{uri}
	reverse_proxy localhost:1080
}

portainer.home.tetra.cool {
	reverse_proxy https://localhost:9443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
	header Access-Control-Allow-Origin "*"
}
