@use "@fontsource/karla/scss/mixins" as Karla;
@include Karla.fontFaceCustom();

$background: #1a1e24;
$background--secondary: #252a34;
$background--tertiary: #3a3e4c;
$foreground: #d3d6d6;
$foreground--secondary: #a6a6a6;
$borders: #2b303a;
$shadow: #131518;
$shadow--secondary: #969696;
$primary: #ff88ff;
$status--checking: #ffd188;
$status--online: #88ff8e;
$status--offline: #ff8888;
$card-transition: all .2s ease;

body {
  margin: 0;
  background: $background;
  font-family: "Karla", sans-serif;
}

#header {
  color: $foreground;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.67em;
  height: 100vh;
}

#app-grid {
  width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

a {
  text-decoration: none;
}

.service-card {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;

  background-color: $background--secondary;
  border: 1px solid $borders;
  border-radius: 5px;
  padding: 10px;
  transition: $card-transition;
  filter: drop-shadow(3px 3px 3px $shadow);

  &:hover,
  &:active {
    background-color: $foreground;
    > .caption {
      color: $background;
    }
    > .icon {
      filter: none;
    }
  }

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.97);
    box-shadow: inset 0 0 19px 3px $shadow--secondary;
  }

  > .caption {
    margin: auto;
    color: $foreground;
    font-size: 10pt;
    transition: $card-transition;
  }

  > .status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 8pt;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 100%;
      animation: glow-pulse 1s alternate infinite;
    }

    &.online {
      color: $status--online;
      &::before {
        color: $status--online;
        background-color: $status--online;
      }
    }

    &.offline {
      color: $status--offline;
      &::before {
        animation: none;
        color: $status--offline;
        background-color: $status--offline;
      }
    }

    &.checking {
      color: $status--checking;
      &::before {
        color: $status--checking;
        background-color: $status--checking;
      }
    }
  }

  > .icon {
    width: 50px;
    height: 50px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1) contrast(50%);
    transition: $card-transition;
  }

  &[data-service-id="asf"] > .icon {
    background-image: url("../img/logos/asf.png");
  }
  &[data-service-id="hass"] > .icon {
    background-image: url("../img/logos/hass.svg");
  }
  &[data-service-id="bridge"] > .icon {
    background-image: url("../img/logos/homebridge.svg");
  }
  &[data-service-id="pihole"] > .icon {
    background-image: url("../img/logos/pihole.svg");
  }
  &[data-service-id="portainer"] > .icon {
    background-image: url("../img/logos/portainer.svg");
  }
  &[data-service-id="unifi"] > .icon {
    background-image: url("../img/logos/unifi.svg");
  }
}

#server-time {
  font-size: 8pt;
  color: $foreground--secondary;
  height: fit-content;
}

.fade-in-up {
  opacity: 0;
  animation: fade-in-up 0.2s ease;
  animation-fill-mode: forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glow-pulse {
  from {
    filter: drop-shadow(0 0 0);
  }
  to {
    filter: drop-shadow(0 0 2px);
  }
}
